{% extends 'layouts/layout.html' %}
{%load static%}
{%block content%}
<div class="blog-art">
    <h2>Casilla de salida</h2>
    <br>
    <p>Por moverte, por adelgazar, porque te anima un amigo, porque ...   todos tenemos un por qué. El caso es que rebuscas en el armario una camiseta y un pantalón corto. Unas zapatillas cualquiera y a correr. Es tan fácil como eso. Todos empezamos así. Tan fácil y tan simple.<br><br>
    Ahora tu pones tus propios límites. Lo difícil es dar ese primer paso, levantarte del sofá y crearte un nuevo estilo de vida. A partir de aquí, y después de unos días de agujetas, tu cuerpo te pide más. Tú quieres más. Más rápido, más tiempo, más kilómetros.<br><br>
    Lo mejor de todo, las reglas las pones tú. Habrá muchas zapatillas, muchos outfits, y un sinfín de complementos, pero al final todo se resume en una frase, <b>“Retar tus límites, conocer tu cuerpo”</b><br><br>
    Todo el mundo ha corrido alguna vez, aunque sea a coger el tren o porque te ha pillado un diluvio. Muchas técnicas, más o menos eficaces, pero eso es otro tema. El caso es que has dado ese primer paso y ahora te estás adentrando en un mundo que te hace sentirte mejor y que, sin duda, te absorbe a cada paso que das.<br><br>
    Un buen día, decides, seguramente animado por algún conocido, apuntarte a una carrera. <b>¿Estoy preparado? ¿Voy a hacer el ridículo? ¿Quedaré el ultimo?</b> ...y un sinfín de preguntas que te atemorizan... Puedo decirte, sin lugar a error, que todo lo que te preocupa no importa. Ponerte en la casilla de salida por primera vez es una victoria que querrás repetir a menudo.<br><br>
    Ha llegado el momento. Felicidad, emoción, adrenalina, y muchas caras de felicidad alrededor. Todas esas sensaciones dejan paso, a lo largo de la carrera, al esfuerzo, a la capacidad de superación, y seguramente algo de sufrimiento. Todo recompensando a la llegada a la meta. Todas esas sensaciones que tenias en la salida vuelven a salir a la luz, cual boomerang.<br><br>
    Ahora ya has jurado bandera. A partir de aquí, se abre un mundo de posibilidades para mejorar. No hay un método único, el “cada persona es un mundo” nunca va a estar mejor aplicado.<br><br>
    
    <h3 style="color: #5ad67d;">Bienvenido a este viaje.</h3></p>
</div>
{%endblock%}
